/*===== Common =====*/
body {
    background: #e9e9e9;
    margin: 0;
}

body, button, input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Symbol', 'Segoe UI Emoji';
    font-size: 16px;
    line-height: 1.5;
}

/*===== Login =====*/
.login-container {
    align-items: center;
    display: flex;
    height: 100vh;
}

.login {
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

.login-field {
    margin: 5px 0;
}

.login input {
    box-sizing: border-box;
    padding: 0 5px;
    width: 100%;
}

/*===== Main form =====*/
.form {
    background: #f9f9f9;
    box-shadow: 0 0 4px #ccc;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    max-width: 55em;
    position: relative;
}

.message-row {
    border-bottom: 1px solid #dadada;
    display: flex;
    flex: 1 0 auto;
}

.message {
    background: #fff;
    border: none;
    box-sizing: border-box;
    outline: none;
    padding: 8px 11px 50vh 11px;
    resize: none;
    width: 100%;
}

.message::first-line {
    font-weight: 700;
}

.message::-webkit-scrollbar {
    width: 2px;
}

.message::-webkit-scrollbar-thumb {
    background-color: #bbb;
}

.buttons-row {
    flex: 0;
    padding: 5px;
}

.button {
    padding-left: 10px;
    padding-right: 10px;
}

.targets {
    float: right;
    padding: 3px 5px;
}

.target {
    margin-right: 5px;
}

.target input {
    margin-right: -1px;
}

/*===== Confirmation =====*/
.confirmation {
    background: #558B2F;
    border-radius: 5px;
    color: #fff;
    display: none;
    font-weight: 600;
    opacity: 0;
    padding: 5px 10px;
    position: absolute;
    right: 8px;
    top: 8px;
}

.confirmation.show {
    animation: fadeInOut 2s linear forwards;
    display: block;
}

@keyframes fadeInOut {
    10%, 90% { opacity: 1 }
}
